@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&family=Tulpen+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto px-gutter !max-w-none 4xl:px-contained;
}
.nova_cut {
  font-family: "Nova Cut", serif;
  font-style: normal;
}

.tulpen_one {
  font-family: "Tulpen One", serif;
  font-style: normal;
}
.mask {
  mask-image: url("./assets/images/mask.svg");
  background-color: red;
  mask-size: 40px;
  mask-repeat: no-repeat;
  color: black;
}
.hover_animation::before {
  content: " ";
  position: absolute;
  height: 100%;
  background-color: aqua;
}
.circle-grandient {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ad00fe 0%, #00e0ee 100%);
  opacity: 0.15;
  filter: blur(137.6px);
  animation: gradientAnimation 20s ease-in-out infinite;
}
header {
  position: relative;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}
header::before {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #ad00fe 0%, #00e0ee 100%);
  width: 120px;
  height: 2px;
  animation: borderflash 18s ease-in 2.1s infinite;
  left: -20%;
  bottom: 0;
}
@keyframes borderflash {
  0% {
    left: -20%;
    display: none;
  }
  20%,
  100% {
    display: flex;
    left: 100%;
  }
}

@keyframes gradientAnimation {
  0% {
    transform: translate(60vw, -120%); /* Top-right */
  }
  25% {
    transform: translate(60vw, 0%); /* Bottom-right */
  }
  50% {
    transform: translate(-30vw, 0%); /* Bottom-left */
  }
  75% {
    transform: translate(-30vw, -120%); /* Top-left */
  }
  100% {
    transform: translate(60vw, -120%); /* Back to Top-right */
  }
}

.hero-sec-text-before {
  position: absolute;
  height: 100.01%;
  width: 100%;
  inset: 0;
  background-color: rgba(33, 31, 31, 0.307);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 1;
  border-radius: 24px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}
